<a href="index.html"><< Kembali</a>

<h1>Endank Soekamti</h1>
<p><i>Seperti gudeg dan bakpia, Endank Soekamti adalah aset Yogyakarta.</i></p><hr><br>
<p><b>Endank Soekamti</b> dilahirkan dengan bahagia di kota Yogyakarta tercinta pada malam tahun baru, 1 januari 2001 dengan personil Erix, Fendy, Tony S dan Ulog. Keadaan <u>mengharuskan</u> kami mengubah formasi dengan memposisikan Ulog sebagai road manager Soekamti, kemudian Fendy dan Tony S keluar, menjadi personil band lain.</p>
