body{
	background-color: #EEE;
	margin: 0;
}

.header{
	background-color: #404040;
	display: inline-block;
	width:100%;
	position:fixed;

}

.content{
	background-color: #808080;
	padding-top:60px;
	/*margin-top:100px; */
	/*display: inline-block; */
}

/*=== sidebar ===*/
.content .sidebar{
	width:300px;
	float:left;
	position:fixed;
	/*left: 0px;*/
	/*top:500px;*/
	display:inline-block; 
	background-color:lightgreen;
}

.content .sidebar a{
	text-decoration: none;
	color: blue;
}
.content .sidebar a:hover{
	text-decoration: none;
	color: grey;
}

/*=== main-content ===*/
.content .main-content{
	margin-left: 300px;
	padding-left: 20px;
	height:8000px;
	/*float:right;*/
	display:inline-block; 
	background-color:snow;
}

.intro, .element{
	border-bottom: 2px solid teal;
}

/*.content .main-content div{
	border: 2px solid red;
	position: relative;
}*/

/*.main-content .intro{
	height:400px;
}
.main-content .inner-intro{
	height: 100px;
	position: absolute;
	bottom: 0;
	left: 0;
}*/

xmp{
    background-color: #eeeeee ;
    border-left:10px solid #808080 ;
    height: auto;
    display: inline-block;
    padding:10px;
    white-space: pre-wrap;
}
.code{
    width:80%;
    display: inline-block;
    margin-top: 
}
.preview{
    width:80%;
    display: inline-block;
    background-color:lightgreen;

}

/*=== footer ===*/
.footer{
	background-color: #CCC;
	display:inline-block;
	width:100%;
	/*margin-top:20px; */
}